In [1]:
x=list(range(10))

In [2]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
w=list(range(10,101,10))

In [8]:
w

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [9]:
w[4]

50

In [10]:
len(w)

10

In [11]:
w[-1]

100

In [12]:
w[2]='asdas'

In [13]:
w

[10, 20, 'asdas', 40, 50, 60, 70, 80, 90, 100]

In [17]:
w[2:-4]

['asdas', 40, 50, 60]

In [18]:
w[::2]

[10, 'asdas', 50, 70, 90]

In [19]:
w[::-2]

[100, 80, 60, 40, 20]

In [22]:
w

[10, 20, 'asdas', 40, 50, 60, 70, 80, 90, 100]

---

In [24]:
#tuple immutable list
#same as lists but can't be changed

In [26]:
t1=(35,239,25,234)

In [27]:
t1

(35, 239, 25, 234)

In [28]:
t1[1:3]

(239, 25)

In [29]:
t1[1]=34

TypeError: 'tuple' object does not support item assignment

In [30]:
w[1]=563

In [31]:
w

[10, 563, 'asdas', 40, 50, 60, 70, 80, 90, 100]